.home{
    position: absolute;
    margin-top: 13%;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.picture {
    width: 20vw;
    float: left;
    margin-left: 28vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    pointer-events: none;
    animation: pic 1s ease-in;
}

.text {
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.smalltext {
    max-width: 430px;
    justify-content: center;
    align-items: center;
    display: block;
    font-size: 25px;
}

.textcontainer {
    margin-top: 13vh;
    margin-left: 2vw;
    float: right;
    animation: floating 6s ease-in-out infinite;
}

@keyframes floating {
    0%{
        transform: translatey(-8px);
    }
    50%{
        transform: translatey(8px);
    }
    100%{
        transform: translatey(-8px);
    }
}

@keyframes pic {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}