.card {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  color: white;
}

.center_all {
  align-content: center;
}

.screen_text {
  color: white;
  font-size: xx-large;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

body {
  margin: 0;
}

.main {
  position: relative;
}